
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	width:100%;
	min-width: $min-width;
	text-align:left;
	order: 1;
	-webkit-order: 1;
	padding: 20px 0px;
	background:rgba(255, 255, 255, 0.9);
	.wrapper{
		// display: flex;
		// align-items: center;
		// justify-content: space-between;
		&:after{
			display: none;
		}
	}
}
// .column-nav{
// 	position: relative;
// }
.block-logo{
	display: inline-block;
	vertical-align: middle;
	width: 207px;
}
.block-main-nav {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin-left: -211px;
	padding-left: 207px;
	text-align: right;
}
.main-nav{
	float: left;
	padding-left: 3.8%;
}
.main-nav-list__link {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 18px;
	padding: 5px 13px;
	@include transition(0.2s);
	&:hover{
		color:#888686;
	}
}
.block-multilang{
	display: inline-block;
	vertical-align: middle;
	padding-top: 2px;
}
.multilang-list{
	font-size: 0;
}
.multilang-list__item{
	@include transition(0.2s);
	border: 1px solid transparent;
	padding: 5px;
	font-size: 14px;
	margin-left: -1px;
}

.multilang-list__item.active,
.multilang-list__item:hover{
	border: 1px solid #b8b8b4;
	cursor: pointer;
}
.secondary-nav{
	margin-left: 3%;
	float: right;
}
.secondary-nav-list__link {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 7px 6px;
	@include transition(0.2s);
	&:hover{
		color:#888686;
	}
}
.secondary-nav-list__link:last-child {
	padding-right: 0;
}

.navbar__button {
	float: right;
	font-size: 20px;
	background: transparent;
	display: none;
	@include transition(0.2s);
	&:hover{
		color: #535252;
	}
}
.navbar-collapse.open{
	display: block;
}

@media screen and (max-width: 1320px) {

}
@media screen and (max-width: 991px) {
	.navbar__button {display: block;}
	.navbar-collapse{
		display: none;
		background:#fff;
		position: absolute;
		top: 100%;
		right: 20px;
		left: 20px;
		z-index:101;
		padding:10px 0;
		border: 1px solid #f2f2f2;
	}
	.main-nav{
		padding: 0;
		float: none;
		&-list__item{
			display: block;
		}
		&-list__link{
			display: block;
			text-align: center;
			padding: 8px 0;
			font-size: 16px;
			&:hover{
				background:#f1f1f1;
			}
		}
	}
	.block-multilang{
		display: block;
		text-align: center;
		padding: 10px 0;
		border-top:1px solid #f1f1f1;
		border-bottom:1px solid #f1f1f1;
		margin:10px 0;
	}
	.multilang-list__item{
		margin: 0 4px;
	}
	.secondary-nav{
		float: none;
		margin: 0;
		&-list__item{
			display: block;
		}
		&-list__link{
			display: block;
			text-align: center;
			padding: 8px 0;
			font-size: 14px;
			&:hover{
				background:#f1f1f1;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.block-logo{width: 170px;}
	.block-main-nav {margin-left: -174px; padding-left: 174px;}
}
